{% extends "base.html" %}
{% block content %}

<div class="container">
	<div class="columns is-centered">
		<div class="column is-4-tablet is-6-desktop is-6-widescreen">
			<div class="box has-text-centered has-text-weight-semibold">
				<p>ISS DES - File Sharing</p>
			</div>
			
			<form class="box" method="POST" action="/share-2">
				
				<div class="box">
					{% with messages = get_flashed_messages() %}
					{% if messages %}
					<div class="notification is-warning">
						{{ messages[0] }}
					</div>
					{% endif %}
					{% endwith %}
				</div>
				
				<div class="box">
					<p> You are granted to access to the following groups, including ownership of the following file. Thus, you can grant access to any of the following groups listed below by using the appropriate check box </p>
					
					<input type="hidden" name="ukn2" value="{{ ukn }}">
					{% for gid, gdesc in presgroups %}
					<input type="checkbox" name="sharedgroups" value="{{ gid }}"> <label> {{ gdesc }} </label>
					{% endfor %}
					
					<p>&nbsp;</p>
					<p class="has-text-info">Please select the groups to share the files and use the Update button</p>
					<button class="button is-fullwidth is-dark is-outlined">Update</button>
				</div>
			</form>
			
		</div>
	</div>
</div>

{% endblock %}